@import url('https://fonts.googleapis.com/css2?family=Allison&family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');
@import "tailwindcss";

/* Define font variables globally */
:root {
  --font-fira: "Fira Code", monospace;
  --font-handwriting: "Allison", cursive;
}

@layer utilities {
  .font-fira {
    font-family: var(--font-fira);
  }

  .font-handwriting {
    font-family: var(--font-handwriting);
  }

  .font-open_sans {
    font-family: 'Open Sans', sans-serif;
  }
  .font-poppins {
      font-family: "Poppins", sans-serif;
  }
  .font-pixel {
      font-family: "VT323", monospace;

  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #b8001f;
  color: #000;
}


/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.filter-scroll::-webkit-scrollbar {
  width: 8px;
}

.filter-scroll::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.filter-scroll::-webkit-scrollbar-track {
  background: #1e1e1e;
}
