@import url('https://fonts.googleapis.com/css2?family=Allison&family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --font-fira: "Fira Code", serif; 
  --font-handwriting:  "Allison", serif;
}
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: #b8001f; /* Neon green background */
  color: #000; /* Text color (optional) */
}
